<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/features" routerLinkActive="active">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/docs" routerLinkActive="active">Docs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/resources" routerLinkActive="active">Recources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>
